/* general styling */
:root {
  --yellow: #d4af37;
  --brown: #996515;
  --border-color: #edc903;
  --bs-success: #56cc9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: larger;
}

.App {
  background: linear-gradient(rgba(255, 255, 255, 0.4), var(--yellow)),
    url(../public/images/banner.jpeg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.page-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 25px;
}

.landing-page-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 140px);
}
.page-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 140px);
}

/* Header & Nav Styling */

.yas-logo {
  margin-top: 3vh;
  height: 8vw;
}

.yas-logo:hover {
  transform: scale(1.1);
}

.nav-row {
  font-size: 2.25vw;
}

/* Banner styling */
.banner-text {
  text-align: center;
}

.banner-text h1 {
  font-size: 7rem;
}

.banner-text p {
  font-size: 2rem;
  font-weight: bold;
}

.header-height {
  height: 80px;
}

/* About Me page styling */

.yas-img {
  width: 29%;
  min-width: 400px;
  border-radius: 18px;
}

.about-me {
  max-width: 52vw;
  font-size: 1.5vw;
}
.about-me-header,
.about-card-body {
  font-weight: 1000;
}
/* Resume styling */
.resume-pdf {
  padding-bottom: 1.5vh;
  font-weight: bolder;
}

.btn-lg:hover {
  transform: scale(1.1);
}

/* Contact styling */
.contact-icon:hover {
  transform: scale(1.1);
}
.contact-info-row {
  padding-bottom: 5px;
}

.footer-height {
  height: 60px;
  text-align: center;
}
